 {
	box-sizing: border-box;
}


header {
	text-align: center;
	padding: 10px;
	background: radial-gradient(circle, rgba(45, 0, 0, 1) 0%, rgba(40, 30, 30, 1) 100%);
	border: 1px solid #330000;
	color: #580000;
	text-shadow: 0 0 5px #FFF, 0 0 15px #DD0000;
}


nav {
	text-align: center;
	padding: 5px;
	background: radial-gradient(circle, rgba(35, 0, 0, 1) 0%, rgba(40, 30, 30, 1) 100%);
	border: 1px solid #330000;
}


body {
	margin: 0;
	background: radial-gradient(circle, rgba(40, 0, 0, 1) 0%, rgba(30, 15, 15, 1) 100%);
	font-family: "Courier New", Courier, monospace;
	color: #DDDDDD;
	text-shadow: 0 0 3px #FFFFFF;
	padding-bottom: 60px; /* space for fixed footer */
}


.content {
	max-width: 900px;
	margin: 40px auto;
	padding: 0 15px;
	text-align: center;
}


a {
	font-size: 14px;
	line-height: 1.6;
}

h6 {
	font-size: 12px;
	line-height: 1.2; /* FIXED */
}


table, td, th {
	border: 1px solid #452525;
	margin: 20px auto;
	border-collapse: collapse;
}


.site-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: radial-gradient(circle, rgba(45, 0, 0, 1) 0%, rgba(40, 30, 30, 1) 100%);
	border-top: 1px solid #330000;

	font-size: 14px;
	color: #cfcfcf;
	z-index: 1000;
}

p, h1, h2, h3, h4, h5, h6 {
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
}
p {
	line-height: 1.6;
	margin: 1em 0;
}